.container {
	width: 1400px;
	margin: auto;
}
.eyes {
	width: 100px;
	height: 130px;
	border-radius: 50%;
	background-color: #88883f56;
	position: relative;
	left: 20%;
	top: 50%;
	transform: translate(-50%, -50%);
	&__inner {
		width: 40px;
		height: 40px;
		background-color: #020202;
		border-radius: 50%;
		border: 5px #160094;
		position: relative;
	}
	&-block {
		width: 600px;
		height: 800px;
		margin: auto;
		background-color: transparent;
	}
}
